<div class="container settings">
    <div class="jumbotron">
        <h2 class="page-header">Settings</h2>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="showsubways">Show subways</label>
                <div class="col-sm-1">
                    <input type="checkbox" class="form-check-input" id="showsubways" aria-describedby="showsubwaysHelp" data-toggle="toggle" checked>
                </div>                
                <div class="col-sm-8">
                    <small id="showsubwaysHelp" class="form-text text-muted">Show/hide subways and suburban trains on departure boards.</small>
                </div>                
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="maxlines">Max lines</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control text-right" id="maxlines" aria-describedby="maxlinesHelp" placeholder="0">
                </div>
                <div class="col-sm-8">
                    <small id="maxlinesHelp" class="form-text text-muted">Number of maximum lines to show on deparure boards. Zero for no limmit.</small>
                </div>                
            </div>
        </form>
    </div>
</div>
