<div class="container departures">
    <div class="jumbotron">
        <div>
            <h4 class="stop TRAM">{{departureBoard.station.name}}</h4>
            <table  width="100%">
                <thead>
                    <tr>
                        <th class="line">Line</th>
                        <th class="destination">Destination</th>
                        <th class="departure">Departure <small >(mins)</small></th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let departure of departureBoard.departures" [ngClass]="departure.departing ? 'blink' : ''">
                        <td class="line">{{departure.line}}</td>
                        <td class="destination">{{departure.destination}}</td>
                        <td class="departure">{{departure.departure}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
