<div class="container departures">
    <div *ngFor="let departureBoard of departureBoards.stations | keyvalue" class="jumbotron">
        <div>
            <h4 class="stop TRAM">{{departureBoard.value.name}}</h4>
            <table  width="100%">
                <thead>
                    <tr>
                        <th class="line">Line</th>
                        <th class="destination">Destination</th>
                        <th class="departure">Departure <small >(mins)</small></th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let departure of departureBoard.value.departures" class="{{departure.vehicleType}}" [ngClass]="departure.departureMins == 0 ? 'blink' : ''">
                        <td class="line">{{departure.line}}</td>
                        <td class="destination">{{departure.destination}}</td>
                        <td class="departure">{{departure.departureMins == 0 ? '' : departure.departureMins+'`'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
