@font-face {
    font-family: 'dot_matrixregular';
    src: url('dot-matrix_14317-webfont.woff2') format('woff2'),
         url('dot-matrix_14317-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}