<div class="container about">
    <div class="jumbotron">
        <h2 class="page-header">About this app</h2>
        <p>This app has been built to demonstrate the architecture of an Angular 2 browser app. The mission of the app is to provide departure information for public transport services in Budapest metropolitan area.</p>
        <p>The full source code of the app is available on github: <a href="https://github.com/mkaboldy/bkk_departures" target="_blank">https://github.com/mkaboldy/bkk_departures</a>. Feel free to clone, fork or report issues.</p>
        <h3>Privacy</h3>
        <p>We don't store any information about you.</p>
        <h3>Credits</h3>
        <ul>
            <li>Route planner API provided by Budapest Transport Authority (BKK).</li>
            <li>Led Matrix fonts designed by Dániel Balogh</li>
        </ul>
    </div>
</div>
