<div class="container location">
      <div class="jumbotron">
            <div *ngIf="!(positionAcquired || positionError) ">
                  <div class="alert alert-primary">{{ 'LOCATION.PLS_ALLOW_ACCESS' | translate}}</div>
                  <app-common-spinner [text]="'LOCATION.DETECTING' | translate"></app-common-spinner>
            </div>
            <div *ngIf="positionError">
                  <div class="alert alert-secondary" >
                        {{ 'LOCATION.CANNOT_DETECT' | translate}} <small><i>({{ positionError.message }})</i></small>
                  </div>
                  <p>{{ 'LOCATION.CHOSE_LOCATION' | translate}}</p>
            </div>
            <div *ngIf="positionAcquired">
                  <div *ngIf="availableStops">
                        <h4>{{ 'LOCATION.STATIONS_NEAR' | translate}}</h4>
                        <ul>
                              <li *ngFor="let stop of availableStops">                        
                                    <a (click)="collapseNav()" class="stop {{stop.stopColorType}}" routerLink="/departures/{{stop.id}}">
                                          <span *ngIf="appState.selectedStop['id'] === stop.id">&raquo;</span>
                                          {{ stop.name }}
                                          <span *ngIf="appState.selectedStop['id'] === stop.id">&laquo;</span>
                                    </a>
                              </li>
                        </ul>
                  </div>
                  <div *ngIf="!availableStops.length">
                        <div class="alert alert-secondary">
                              {{ 'LOCATION.NO_STATION_FOUND' | translate}}
                        </div>            
                  </div>
                  <div *ngIf="!(availableStops || loadError)">
                        <app-common-spinner [text]=" 'LOCATION.DISCOVERING' | translate"></app-common-spinner>
                  </div>
                  <div *ngIf="loadError">
                        <div class="text-center">
                              <div class="alert alert-secondary" role="alert">
                                    <i class="fa fa-frown-o fa-2x" style="font-size: 20px; color: orange; margin-right: 5px;"></i> 
                                    {{ 'LOCATION.UNABLE_TO_LOAD_STATIONS' | translate}}
                              </div>
                        </div>                        
                  </div>
            </div>
            <div *ngIf="positionAcquired || positionError">
                  <h4>{{ 'LOCATION.POPULAR_LOCATIONS' | translate}}</h4>
                  <ul>
                        <li>
                              <a class="stop location" href="/location/47.5655984/19.0446418">Aquincum</a>
                        </li>
                        <li>
                              <a class="stop location" href="/location/47.5106624/19.0550335">Westend</a>
                        </li>
                        <li>
                              <a class="stop location" href="/location/47.4943933/19.0593575">Astoria</a>
                        </li>
                        <li>
                              <a class="stop location" href="/location/47.4740142/19.0480375">Allee</a>
                        </li>
                        <li>
                              <a class="stop location" href="/location/47.49037/19.02356">MOM Park</a>
                        </li>
                        <li>
                              <a (click)="collapseNav()" class="stop BUS" href="#" (click)="selectStop({id: 'BKK_F02439', type: 'BUS', name: 'Thomán István utca'})">Thomán István utca</a>
                        </li>
                        <li>
                              <a (click)="collapseNav()" class="stop BUS" href="#" (click)="selectStop({id: 'BKK_F02454', type: 'BUS', name: 'Csillebérc'})">Csillebérc</a>
                        </li>
                        <li>
                              <a (click)="collapseNav()" class="stop BUS" href="#" (click)="selectStop({id: 'BKK_F04816', type: 'BUS', name: 'Diósd, Kölcsey F. u.'})">Diósd, Kölcsey Ferenc utca</a>
                        </li>
                        <li>
                              <a (click)="collapseNav()" class="stop TRAM" href="#" (click)="selectStop({id: 'BKK_F02101', type: 'TRAM', name: 'Farkasréti temető'})">Farkasréti temető</a>
                        </li>
                        <li>
                              <a (click)="collapseNav()" class="stop TRAM" href="#" (click)="selectStop({id: 'BKK_F01596', type: 'TRAM', name: 'Új Köztemető és Börtön'})">Új Köztemető</a>
                        </li>
                  </ul>
                  <p>Your detected GPS position: <a href="https://maps.google.com/maps/@{{position.coords.latitude}},{{position.coords.longitude}}" target="_blank">{{position.coords.latitude}},{{position.coords.longitude}}:{{position.coords.heading}}</a></p>
            </div>
      </div>
</div>