<div class="container timetable">
  <div class="jumbotron">
    <div *ngIf="timeTable">
      <h4 class="stop {{stopColorTypes}}">{{ stopName }}</h4>
      <table width="100%">
        <thead>
          <tr>
            <th class="line">{{ 'DEPARTURES.LINE' | translate}}</th>
            <th class="stopHeadSign">{{ 'DEPARTURES.DESTINATION' | translate}}</th>
            <th class="departure">{{ 'DEPARTURES.DEPARTURE' | translate}} <small>({{'DEPARTURES.MINS' | translate}})</small></th>
          </tr>
        </thead>
        <tbody *ngIf="timeTable.length">
          <tr *ngFor="let stopTime of timeTable" [ngClass]="{'blink': !(userIsIdle || stopTime.departure)}">
            <td class="line">{{ stopTime['service'] }}</td>
            <td class="stopHeadSign">{{ stopTime['destination'] }}</td>
            <td class="departure">{{ stopTime['departure'] }}</td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-secondary" *ngIf="!timeTable.length" [translate]="'DEPARTURES.NO_DEPARTURE'" [translateParams]="{mins:30}">
      </div>            
    </div>
    <div *ngIf="loadError">
      <div class="text-center">
        <div class="alert alert-secondary" role="alert">
          <i class="fa fa-frown-o fa-2x" style="font-size: 20px; color: orange; margin-right: 5px;"></i> 
          {{ 'DEPARTURES.UNABLE_TO_LOAD_DEPARURES' | translate}}
        </div>
      </div>                        
    </div>
  </div>
</div>
<div id="suspended" *ngIf="userIsIdle">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <div class="modal-body text-center">
          <p [translate]="'DEPARTURES.REFRESH_SUSPENDED'" [translateParams]="{mins:userTimeoutMins}"></p>
          <p><button type="button" class="btn btn-primary" (click)="resumeClick()">{{ 'DEPARTURES.RESUME' | translate}}</button></p>
        </div>
      </div>
    </div>
  </div>
