.timetable .jumbotron {
    padding: 1rem;
}

.timetable td {
    font-family: led_matrix2regular;
    color : orange; 
    font-size: 1.1rem /* 18px;*/ /*1.2rem*/;
    /* letter-spacing: 1px; */
}

.timetable th, .timetable td {
    vertical-align: top;
}

.timetable .line, .timetable .departure {
    text-align: right;
}

.timetable .line {padding-right : 10px;}

.blink td {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
    }
    @-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

#suspended {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2;
    cursor: pointer; /* Add a pointer on hover */
}