@font-face {
    font-family: 'led_matrix2regular';
    font-display: auto;
    src: url('/assets/fonts/led-matrix2/led-matrix2-webfont.woff2') format('woff2'),
         url('/assets/fonts/led-matrix2/led-matrix2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}