
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
      <img  alt="logo" src="assets/images/logo.png">
    </a>
    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed" data-target="#navbarCollapse" data-toggle="collapse" id="navbarToggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li  class="nav-item">
          <a  class="nav-link active" href="#"> Departures </a>
        </li>
        <li  class="nav-item">
          <a  class="nav-link" href="#"> Location </a>
        </li>
        <li  class="nav-item">
          <a  class="nav-link" href="#"> Settings </a>
        </li>
        <li  class="nav-item">
          <a  class="nav-link" href="#"> About </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content -->
  <main class="container" role="main">
    <div class="container timetable">
      <div class="jumbotron">
        <div>
          <h4 class="stop TRAM">Csörsz utca</h4>
          <table  width="100%">
            <thead>
              <tr>
                <th class="line">Line</th>
                <th class="stopHeadSign">Destination</th>
                <th class="departure">Departure <small >(mins)</small></th>
              </tr>
            </thead>
            <tbody >
              <tr class="blink">
                <td class="line">61</td>
                <td class="stopHeadSign">Hűvösvölgy</td>
                <td class="departure"></td>
              </tr>
              <tr>
                <td class="line">17</td>
                <td class="stopHeadSign">Bécsi út / Vörösvári út</td>
                <td class="departure">5'</td>
              </tr>
              <tr>
                <td class="line">17</td>
                <td class="stopHeadSign">Bécsi út / Vörösvári út</td>
                <td class="departure">10'</td>
              </tr>
              <tr>
                <td class="line">61</td>
                <td class="stopHeadSign">Hűvösvölgy</td>
                <td class="departure">14'</td>
              </tr>
              <tr>
                <td class="line">17</td>
                <td class="stopHeadSign">Bécsi út / Vörösvári út</td>
                <td class="departure">23'</td>
              </tr>
              <tr>
                <td class="line">17</td>
                <td class="stopHeadSign">Bécsi út / Vörösvári út</td>
                <td class="departure">25'</td>
              </tr>
              <tr>
                <td class="line">61</td>
                <td class="stopHeadSign">Hűvösvölgy</td>
                <td class="departure">29'</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">© 2018-2020 Miklos Kaboldy, MIT license.</span>&nbsp; <span><a href="https://github.com/mkaboldy/kezifutar" target="blank">Full source here.</a></span>
    </div>
  </footer>