<div class="container about">
    <div class="jumbotron">
        <h4 class="page-header">{{ 'ABOUT.TITLE' | translate}}</h4>
        <p>{{ 'ABOUT.INTRO' | translate}}</p>
        <p [innerHTML]="'ABOUT.SOURCE' | translate"></p>
        <h5>{{ 'ABOUT.PRIVACY.SUBTITLE' | translate}}</h5>
        <p [innerHTML]="'ABOUT.PRIVACY.BODY' | translate"></p>
        <h5>{{ 'ABOUT.CREDITS.SUBTITLE' | translate}}</h5>
        <ul>
            <li>{{ 'ABOUT.CREDITS.ROUTE_PLANNER' | translate}}</li>
            <li>{{ 'ABOUT.CREDITS.LED_MATRIX' | translate}}</li>
        </ul>
    </div>
</div>